.main {
  position: absolute;
  width: 85%;
  height: 90vh;
  left: 15%;
  margin-left: 3vh;
  background: #5022ed;
  transform: matrix(1, -0.04, -0.04, -1, 0, 0);
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  gap: 5rem;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 40rem) {
  .main {
    left: 0;
    margin: 0;
    width: 100vw;
    height: 900px;
    transform: none;
    border-radius: 0;
    display: grid;
    gap: 0;
    overflow: scroll;
    grid-template-areas:
      "title"
      "shop"
      "main";
  }
}
