.main-info {
  width: 30%;
  transform: matrix(1, -0.04, -0.04, -1, 0, 0);
  margin-left: 5%;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 110%;

  color: white;
}

.title span {
  color: #16dfb5;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 130%;

  color: #ffffff;
}

.action {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 115%;
  text-align: center;
  color: #16dfb5;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 40rem) {
  .main-info {
    transform: none;
  }
}
