.main-info {
  width: 30%;
  transform: matrix(1, -0.04, -0.04, -1, 0, 0);
  margin-left: 5%;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 110%;

  color: white;
}

.title span {
  color: #16dfb5;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 130%;
  color: #ffffff;
}

.action,
.action a {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 115%;
  text-align: center;
  color: #16dfb5;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 40rem) {
  .action {
    display: none;
  }
  .main-info {
    transform: none;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .title {
    grid-area: title;
    font-size: 29px;
    width: 100%;
    margin: 2.5rem 0;
  }
  .description {
    display: none;
  }
}
