.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 101px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 5px 11px rgba(29, 0, 62, 0.07);
  border-radius: 0px;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-links {
  font-size: 18px;
  line-height: 21px;
  color: #7f88a0;
}

.header-items-actions {
  display: flex;
  gap: 2rem;
}

.sign-up-button {
  width: 145px;
  height: 50px;
  font-family: "Roboto", "sans-serif";
  background: #16dfb5;
  border-radius: 4px 50px 50px 20px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.log-in-button {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  color: #7f88a0;
  border: none;
  outline: none;
  background-color: transparent;
}

.mobile-nav {
  display: none;
}

@media (max-width: 40rem) {
  .header {
    display: none;
  }
  .mobile-nav {
    height: 70px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 5px 11px rgba(29, 0, 62, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: 1.5rem;
  }

  .mobile-nav-dropdown {
    margin-right: 1.5rem;
  }

  .mobile-nav-dropdown div {
    width: 28px;
    height: 2px;
    background-color: #c7c7c7;
    margin: 6px 0;
  }

  .mobile-nav-dropdown div:last-child {
    width: 16px;
  }
}
