.shop {
  transform: matrix(1, -0.04, -0.04, -1, 0, 0);
  margin-bottom: 200px;
  margin-top: 50px;
  width: 465px;
}

.form {
  position: relative;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 20px;
  width: 70%;
  height: 500px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 10;
}

.form-shadow {
  z-index: 1;
  position: absolute;
  top: -30px;
  left: -20px;
  width: 70%;
  height: 500px;
  background: #e9f6ff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 20px;
  transform: rotate(-5.53deg);
}

.pay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pay input,
.pay select {
  background: #ffffff;
}

.pay input:disabled {
  border: 1px solid #d9d9d9;
  border-radius: 20px 0 0 20px;
  border-right: none;
  padding: 0.5rem;
  padding-left: 0.7rem;
  width: 15%;
  height: 35px;
  color: black;
}

.pay-input2 {
  width: 45%;
  height: 35px;
  border-radius: 0;
  border: 1px solid #d9d9d9;

  border-left: none;
  border-right: none;
  padding: 0.5rem;
  outline: none;
  text-align: center;
}

.pay-select {
  width: 70px;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-radius: 0 20px 20px 0;
  padding: 8px;
  outline: none;
}

.buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buy input,
.buy select {
  background: #ffffff;
}

.buy input:disabled {
  border: 1px solid #d9d9d9;
  border-radius: 20px 0 0 20px;
  border-right: none;
  padding: 0.5rem;
  padding-left: 0.7rem;
  width: 15%;
  height: 35px;
  color: black;
}

.buy-input2 {
  width: 45%;
  height: 35px;
  border-radius: 0;
  border: 1px solid #d9d9d9;

  border-left: none;
  border-right: none;
  padding: 0.5rem;
  outline: none;
  text-align: center;
}

.buy-select {
  width: 70px;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-radius: 0 20px 20px 0;
  padding: 7px;
  outline: none;
}

.payment-label {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.85);
}

.bank-select {
  background: #ffffff;
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 20px;
}

.icon-container {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 35px;
  width: 10%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-icon {
  width: 20px;
  height: 20px;
}

.bank-select option {
  font-size: 1rem;
}

.buy-button-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100px;
}

.buy-button-container a {
  width: 100%;
  text-decoration: none;
  height: 48px;
  align-self: flex-end;
}

.buy-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.buy-button {
  width: 100%;
  height: 48px;
  color: white;
  background: #16dfb5;
  border: 1px solid #16dfb5;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px 50px 50px 20px;
}
.mobile-description {
  display: none;
}

@media (max-width: 40rem) {
  .shop {
    transform: none;
  }
  .form-shadow {
    display: none;
  }
  .shop {
    grid-area: shop;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .form {
    margin: 0;
  }

  .mobile-description {
    display: block;
    grid-area: main;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
    width: 80%;
    margin: 20px auto;
  }
}
